.main_container {
  width: 100%;
  min-height: 90vh;
  padding: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_container section {
  width: 1440px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}